<h1 class="h3 mb-2 text-gray-800">Products</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">List of Book</h6>
	</div>
	<table class="table table-striped " style="margin: 0 auto;">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Author</th>
				<th scope="col">Old price</th>
        <th scope="col">Final price</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col" colspan="2">Action</th>

			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let book of books | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
				<th scope="row">{{ i+1 }}</th>
				<td>{{ book.name }} </td>
				<td>{{ book.author }}</td>
				<td>{{ book.oldPrice | number }}</td>
        <td>{{ book.finalPrice | number }}</td>
        <td>{{ book.description }}</td>
        <td>{{book.status ? 'Còn Hàng' : 'Hết Hàng'}}</td>
        <button type="button" class="btn btn-primary btn-sm mr-2 mt-2">Edit</button>
        <button type="button" class="btn btn-danger btn-sm mt-2">Remove</button>
			</tr>
		</tbody>
	</table>

	<div class="d-flex justify-content-between p-2">
		<ngb-pagination [collectionSize]=books.length [(page)]="page" [pageSize]="pageSize">
		</ngb-pagination>

		<select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
	</div>
</div>