<!-- Page Wrapper -->
<div id="wrapper">

	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="admin">
			<div class="sidebar-brand-text mx-5"><h3 style= "color: white; font-weight: bolder;">OYO</h3> Management</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Nav Item - Dashboard -->
		<li class="nav-item">
			<a class="nav-link">
        <span class="material-icons md-24" style="width: 36px; padding-right: 10px;">dashboard</span>
				<span>DASHBOARD</span></a>
		</li>

		<hr class="sidebar-divider">

		<li class="nav-item">
			<a class="nav-link" routerLink="products" routerLinkActive="active">
				<span class="material-icons" style="width: 120%; padding-right: 10px;">table_chart</span>
				<span>PRODUCTS</span></a>
		</li>

    <hr class="sidebar-divider">

		<!-- <li class="nav-item">
			<a class="nav-link" href="index.html">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span></a>
		</li>

		<hr class="sidebar-divider"> -->

	</ul>
	<!-- End of Sidebar -->

	<!-- Content Wrapper -->
	<div class="d-flex flex-column" id="content-wrapper">

		<!-- Main Content -->
		<div id="content">

			<!-- Topbar -->
			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

				<!-- Sidebar Toggle (Topbar) -->
				<button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
            <i class="fa fa-bars"></i>
          </button>

				<!-- Topbar Search -->
				<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
					<div class="input-group">
						<input class="form-control bg-light border-0 small" aria-describedby="basic-addon2" aria-label="Search" type="text" placeholder="Search for...">
						<div class="input-group-append">
							<button class="btn btn-primary" type="button">
                  <span class="material-icons" style="margin-bottom: 2px;">search</span>
                </button>
						</div>
					</div>
				</form>

				<!-- Topbar Navbar -->
				<ul class="navbar-nav ml-auto">

					<!-- Nav Item - Search Dropdown (Visible Only XS) -->
					<li class="nav-item dropdown no-arrow d-sm-none">
						<a class="nav-link dropdown-toggle" id="searchDropdown" role="button" aria-expanded="false"
							aria-haspopup="true" href="#" data-toggle="dropdown">
							<i class="fas fa-search fa-fw"></i>
						</a>
						<!-- Dropdown - Messages -->
						<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
							aria-labelledby="searchDropdown">
							<form class="form-inline mr-auto w-100 navbar-search">
								<div class="input-group">
									<input class="form-control bg-light border-0 small" aria-describedby="basic-addon2" aria-label="Search" type="text" placeholder="Search for...">
									<div class="input-group-append">
										<button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
									</div>
								</div>
							</form>
						</div>
					</li>

					<!-- Nav Item - Alerts -->
					<li class="nav-item dropdown no-arrow mx-1">
						<a class="nav-link dropdown-toggle" id="alertsDropdown" role="button" aria-expanded="false"
							aria-haspopup="true" data-toggle="dropdown">
							<span class="material-icons">notifications</span>
							<!-- Counter - Alerts -->
							<span class="badge badge-danger badge-counter">3+</span>
						</a>
					</li>

					<!-- Nav Item - Messages -->
					<li class="nav-item dropdown no-arrow mx-1">
						<a class="nav-link dropdown-toggle" id="messagesDropdown" role="button" aria-expanded="false"
							aria-haspopup="true" data-toggle="dropdown">
							<span class="material-icons">local_post_office</span>
							<!-- Counter - Messages -->
							<span class="badge badge-danger badge-counter">7</span>
						</a>
					</li>

					<div class="topbar-divider d-none d-sm-block"></div>

					<!-- Nav Item - User Information -->
					<li class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle" id="userDropdown" role="button" aria-expanded="false"
							aria-haspopup="true" data-toggle="dropdown">
							<span class="mr-2 d-none d-lg-inline text-gray-600 small">HaiNT PH07511</span>
							<img class="img-profile rounded-circle" src="https://i.pinimg.com/originals/5f/db/33/5fdb3341f3e0d6a465e4c939a28a16d2.jpg">
              </a>
					</li>

				</ul>

			</nav>
			<div class="container-fluid">

			<router-outlet></router-outlet>
      
			</div>
		</div>
		<!-- End of Main Content -->

		<!-- Footer -->
		<footer class="sticky-footer bg-white">
			<div class="container my-auto">
				<div class="copyright text-center my-auto">
					<span>Copyright © Your Website 2019</span>
				</div>
			</div>
		</footer>
		<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div tabindex="-1" class="modal fade" id="logoutModal" role="dialog" aria-hidden="true"
	aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" aria-label="Close" type="button" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="login.html">Logout</a>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Code injected by live-server -->
<script type="text/javascript">
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script>