<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner">
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" style="font-size: 30px; color: #fff;">Welcome, Admin!</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="header">
			<div class="logo">
				
			</div>
			<a href="#" class="nav-trigger"><span></span></a>
		</div>
		<div class="side-nav">
			<div class="logo">
				<img src="https://upload.wikimedia.org/wikipedia/commons/1/19/OYO_Rooms_%28logo%29.png" style="width: 50%; margin: 0 auto;">
			</div>
			<nav>
				<ul>
					<li>
						<a>
							<span><i class="fa fa-book" aria-hidden="true"></i></span>
							<span>Book Management</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span><i class="fa fa-user-circle" aria-hidden="true"></i></span>
							<span>User Management</span>
						</a>
					</li>
					<!-- <li class="active">
						<a href="#">
							<span><i class="fa fa-bar-chart"></i></span>
							<span>Analytics</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span><i class="fa fa-credit-card-alt"></i></span>
							<span>Payments</span>
						</a>
					</li> -->
				</ul>
			</nav>
		</div>
		<div class="main-content">
      <header class="d-flex mb-3 pt-3 justify-content-between" style="margin-top: 30px;">
	<h2 style="padding-left: 70px; font-family: Arial;">Book Management</h2>
  <app-add-book style="padding-right: 70px; font-family: Arial;"></app-add-book>
	<!-- <app-product-add></app-product-add> -->
</header>
<div>
	<table class="table table-bordered table-hover" style="width: 90%; margin: 0 auto; text-align: center; font-family: Arial;"> 
		<thead style="background-color: #2c3e50; color: #fff;">
			<tr>
				<th scope="col">#</th>
        <th scope="col">IMAGE</th>
				<th scope="col">NAME</th>
        <th scope="col">AUTHOR</th>
				<th scope="col">PRICE</th>
				<th scope="col">DESCRIPTION</th>
        <th scope="col">STATUS</th>
				<th scope="col">ACTION</th>
			</tr>
		</thead>
		<tbody *ngFor="let book of books; index as id">
			<tr>
				<th scope="row">{{id+1}}</th>
        <td><img src="{{book.image}}" alt="book image" style="width: 30%;"/></td>
				<td><a routerLink="/book/{{book.id}}">{{book.name}}</a></td>
				<td>{{book.author}}</td>
				<td>{{book.price}}</td>
        <td>{{book.description}}</td>
        <td>{{book.status ? 'Stocking' : 'Sold Out'}}</td>
				<td><button type="button" class="btn btn-primary">Remove</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
		</div><br/><br/>